h2 {
  padding: 18px;
  text-align: center;
}

mat-dialog-content {
  padding-top: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}


mat-form-field {
  padding-top: 8px;
  max-width: 360px;
  width: 100%;
}

mat-dialog-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
}



form {
padding: 24px;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
gap: 16px;
justify-content: center;
align-items: center;
max-width: 800px;
margin: 0 auto;
}





@media (max-width: 780px) {
form {
  grid-template-columns: 1fr; 
}
}

