.main-open-new-account {
  height: 100vh;
  display: flex;
  // justify-content: center;
  // align-items: center;
  flex-direction: column;

}
mat-toolbar {
  position: fixed;
  top: 0;
  color: white;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  background-color: rgb(19, 75, 112);
}

.contact-popup {
  list-style-type: none;
  padding: 8px;
  margin: 0;
}

.contact-headline {
  font-size: 0.7rem;
  font-weight: bold;
  color: #333;
}

.contact-popup a {
  text-decoration: none;
  color: #0066cc;
}

.contact-popup a:hover {
  text-decoration: underline;
}

.dropdown-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
h6 {
  margin: 0;
}

.contact-btn{
    color: white !important;
}

.new-account-form{
background-color: #333;
width: 40%;
height: 55%;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

mat-stepper{
  margin-top: 8vh !important;
  width: 100%;
}