<h2>Move money to different account</h2>
<div class="dialog-container">
  <mat-dialog-content>
    <form (ngSubmit)="moveMoney()">
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="transfer.amount"
          name="amount"
          required
          min="1"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Account</mat-label>
        <mat-select
          [(ngModel)]="transfer.receiverAccountId"
          name="account"
          required
        >
          @for(account of user?.accounts; track $index) { @for(a of userAccounts;
          track $index) { @if(account === a.accountId && a.accountId !==
          senderAccountId) {
          <mat-option value="{{ a.accountId }}">{{
            a.accountName ? a.accountName : a.accountId
          }}</mat-option>
          }
          } }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          type="string"
          [(ngModel)]="transfer.description"
          name="description"
        >
        </textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Currency</mat-label>
        <mat-select [(ngModel)]="transfer.currency" name="currency" disabled>
          <mat-option value="EUR">EUR</mat-option>
          <mat-option value="USD">USD</mat-option>
          <mat-option value="GBP">GBP</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-dialog-actions>
        <button mat-button type="button" (click)="closeDialog()">
          <mat-icon>cancel</mat-icon>
          Cancel</button>
        <button mat-raised-button color="primary" type="submit">
          <mat-icon>save</mat-icon>
          Create</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
