<h2 mat-dialog-title>Edit User Address</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Street Address</mat-label>
    <input
      [(ngModel)]="user.streetAddress"
      matInput
      placeholder="Street Address"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Zip Code</mat-label>
    <input [(ngModel)]="user.zipCode" matInput placeholder="Zip Code" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <input [(ngModel)]="user.city" matInput placeholder="City" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button (click)="saveNewUser(user)" cdkFocusInitial>Save</button>
</mat-dialog-actions>
