<div class="imprint">
    <h1>Impressum</h1>
    <!-- <h2 id="m46">Diensteanbieter</h2> -->
    <p>Sebsatian Rothe</p>
    <p>Mühlwehrstr. 8 </p>
    <p>60488 Frankfurt am Main</p>
    
    <h2 id="m56">Kontakt</h2>
    <p>Telefon: +49 176 52968778</p>
    <p>E-Mail-Adresse: mail&#64;sebastian-rothe.com</p>
    
    <p class="seal"><a href="https://datenschutz-generator.de/" title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank" rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke</a></p>
</div>