<div class="dialog-container">
  <h2 mat-dialog-title>Edit User Details</h2>
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Phone:</mat-label>
      <input [(ngModel)]="user.phoneNumber" matInput placeholder="{{user.phoneNumber}}" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nationality:</mat-label>
      <input [(ngModel)]="user.nationality" matInput placeholder="{{user.nationality}}" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tax ID:</mat-label>
      <input [(ngModel)]="user.taxId" matInput placeholder="{{user.taxId}}" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Occupation:</mat-label>
      <input
        [(ngModel)]="user.occupation"
        matInput
        placeholder="{{user.occupation}}"
      />
    </mat-form-field>
    <mat-dialog-actions>
      <button mat-button (click)="closeDialog()">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
      <button mat-button color="primary" (click)="saveNewUser(user)" cdkFocusInitial>
        <mat-icon>save</mat-icon>
        Save
      </button>
    </mat-dialog-actions>
  </mat-dialog-content>
</div>
