.transfers {
  // padding: 16px;

  mat-card {
    margin-top: 16px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &-header {
      background-color: #f7f7f7;
      padding: 16px;
      border-bottom: 1px solid #ddd;

      mat-card-title {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    &-content {
      padding: 16px;

      .transfer-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      .transfer-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s, box-shadow 0.2s;

        &:hover {
          cursor: pointer;
          transform: translateY(-4px);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        }

        .transfer-content {
          display: flex;
          align-items: center;
          width: 100%;
          gap: 16px;

          .transfer-icon {
            background-color: #eeeeee;
            padding: 8px;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
           

            mat-icon {
              font-size: 20px;
            }

            &.internal {
              background-color: #d0e4ff;

              mat-icon {
                color: #004085;
              }
            }

            &.negative {
              background-color: #ffebe6;

              mat-icon {
                color: red;
              }
            }

            &.positive {
              background-color: #e6f4e6;

              mat-icon {
                color: green;
              }
            }
          }

          .transfer-description {
            flex: 2;
            font-weight: 500;
            margin-left: 12px;
            max-height: 80px;
            overflow: hidden;

            &::-webkit-scrollbar {
              display: none;
            }
          }

          .transfer-amount {
            flex: 1;
            font-weight: 600;
            text-align: right;

            &.negative {
              color: red;
            }

            &.positive {
              color: green;
            }
          }

          .transfer-date {
            flex: 0.5;
            font-size: 0.9rem;
            color: #666;
            text-align: right;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .transfer-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 12px;
    overflow: hidden;
    white-space: nowrap;
  }
  .transfer-content {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 8px;
    width: 100%;
    overflow: hidden;
  }

  .transfer-description {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .transfers mat-card-content .transfer-card .transfer-content .transfer-icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    overflow: visible;
    margin: 0 0 3px 3px;
}

.transfer-amount {
  text-align: right;
  flex-shrink: 0;
}

.transfer-date {
  flex-shrink: 0;
  text-align: right;
  font-size: 0.85rem;
}

  .transfer-list {
    white-space: nowrap;
  }
}
@media (max-width: 400px) {
  .transfers {
    mat-card-content {
      padding: 12px;
    }
    mat-card {
      margin: 0;
    }
  }
  .transfers mat-card-content .transfer-card{
    padding: 8px;
  }


  .transfer-content {
    gap: 6px !important;
    flex-wrap: wrap;
  }
  .transfers mat-card-content .transfer-card .transfer-content .transfer-icon {
      width: 36px;
      height: 36px;
    }
}

@media (max-width: 368px) {
  .transfer-description {
    display: none;
  }
  .transfer-amount,
  .transfer-date {
    font-size: 0.8rem;
  }
}

