<div class="transfers">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Transfers</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="transfer-list">
            @for(transfer of transfers; track $index){
                <mat-card class="transfer-card" (click)="openTransferPopup(transfer.transferId)">
                    <div class="transfer-content">
                      <!-- Icon Section -->
                      <div
                        class="transfer-icon"
                        [ngClass]="{
                          internal: transfer.senderUserId === transfer.receiverUserId,
                          negative: user!.uid === transfer.senderUserId && transfer.senderUserId !== transfer.receiverUserId,
                          positive: user!.uid === transfer.receiverUserId && transfer.senderUserId !== transfer.receiverUserId
                        }"
                      >
                        <mat-icon>
                          {{
                            transfer.senderUserId === transfer.receiverUserId
                              ? 'sync_alt'
                              : user!.uid === transfer.senderUserId
                              ? 'arrow_outward'
                              : 'south_east'
                          }}
                        </mat-icon>
                      </div>
                      <!-- Description -->
                      <div class="transfer-description">
                        <span>{{ transfer.description }}</span>
                      </div>
                      <!-- Amount -->
                      <div class="transfer-amount" [ngClass]="{ negative: transfer.type === 'sent', positive: transfer.type === 'received' }">
                        {{ transfer.amount }}€
                      </div>
                      <!-- Date -->
                      <div class="transfer-date">
                        {{ getFormattedDate(transfer.createdAt) }}
                      </div>
                    </div>
                  </mat-card>
            }
          
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  