mat-dialog-container {
    padding: 24px;
    border-radius: 12px;
  }
  
  h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
  
  mat-dialog-content {
    font-size: 16px;
    padding: 16px 0;
  }
  
  mat-dialog-actions {
    margin-top: 16px;
  }
  