<div class="content-align">
    <div class="left">
      <h1>Best Checking Account</h1>
      <ol>
        <li>
          The safest account in the world – because there's no real money
          involved!
        </li>
        <li>Banking reimagined – for practice, not payments.</li>
        <li>MockBank – your gateway into the FinTech world.</li>
        <li>MockBank – because code is your currency.</li>
        <li>The future of banking, today as a prototype.</li>
        <li>"MockBank – Real innovation. Fake money.</li>
      </ol>
      <button mat-flat-button class="btn-outline" routerLink="/open-account">Open new Account</button>
    </div>
    <div class="right">
      <p>here we put an img</p>
    </div>
  </div>