@if(bank){

<mat-card appearance="outlined" class="bank-card">
  <div class="bank-header">
     <h2><mat-icon>account_balance</mat-icon> {{ bank.name || "Bank" }}</h2>
    <!-- <p class="bank-id">ID: {{ bank.id }}</p> -->
  </div>

  <div class="bank-stats">
    <div class="stat-box">
      <p class="stat-title">Total Capital of MockBank</p>
      <h3>{{ getFormattedCurrency(bank.totalBalance) }}</h3>
    </div>
    <div class="stat-box">
      <p class="stat-title">Interest Rate</p>
      <h3>{{ bank!.interestRate * 100 }}%</h3>
      <button mat-raised-button color="primary" (click)="openEditInterestRateDialog()">
        <mat-icon>edit</mat-icon> Edit Interest Rate
      </button>
    </div>
    <div class="stat-box">
      <p class="stat-title">Transaction Fee</p>
      <h3>{{ getFormattedCurrency(bank.transactionFee) }}</h3>
      <button mat-raised-button color="primary" (click)="openEditTransactionFeeDialog()">
        <mat-icon>edit</mat-icon> Edit Transaction Fee
      </button>
    </div>
    <div class="stat-box">
      <p class="stat-title">Total Capital of Users</p>
      <h3>{{ getFormattedCurrency(totalUserCapital) }}</h3>
    </div>
  </div>
  <!-- Admin-Funktion: Bearbeiten -->
  
</mat-card>
}
