<h2 mat-dialog-title>Edit User Profile</h2>
<mat-dialog-content>

    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input [(ngModel)]="user.firstName" matInput placeholder="First Name" />
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input [(ngModel)]="user.lastName" matInput placeholder="Last Name" />
    </mat-form-field>
  
  <div class="name-container">
    <mat-form-field appearance="outline">
      <mat-label>Birth Date</mat-label>
      <input
        [(ngModel)]="user.birthDate"
        matInput
        [matDatepicker]="picker"
        placeholder="{{ getFormattedBirthDate() }}"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint>MM/DD/YYYY</mat-hint>
    </mat-form-field>
  </div>
  <div class="profile-actions">
    <label for="file" class="file-input-label"
      >Choose a profile picture
      <input
        id="file"
        type="file"
        (change)="onFileSelected($event)"
        accept=".jpg, .jpeg, .png"
        hidden
      />
    </label>
  </div>

</mat-dialog-content>  


<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">
    <mat-icon>cancel</mat-icon>
    Cancel</button>
  <button mat-button color="primary" (click)="saveNewUser(user)" cdkFocusInitial>
    <mat-icon>save</mat-icon>
    Save</button>
</mat-dialog-actions>
