<h2 mat-dialog-title>Change User Password</h2>
<mat-dialog-content class="dialog-gr">
  
        <mat-form-field appearance="outline">
          <mat-label>Aktuelles Passwort</mat-label>
          <input matInput [(ngModel)]="currentPassword" name="currentPassword" type="password" required>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Neues Passwort</mat-label>
          <input matInput [(ngModel)]="newPassword" name="newPassword" type="password" required>
        </mat-form-field>
    
    

</mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="closeDialog()">
      <mat-icon>cancel</mat-icon>
      Abbrechen</button>
    <button mat-button color="accent" (click)="changePassword()">
      <mat-icon>save</mat-icon>
      Passwort ändern</button>
  </mat-dialog-actions>
  