<mat-form-field appearance="outline">
  <mat-label>Search Users</mat-label>
  <input matInput (input)="onSearch($event)" placeholder="Name, Email, City...">
</mat-form-field>


<div class="card-container">
  <mat-card>
    <table>
      <tr>
        <td>firstName</td>
        <td>lastName</td>
        <td>streetAddress</td>
        <td>zipCode</td>
        <td>city</td>
      </tr>
      @for(user of filteredUsers; track $index) {
        <tr routerLink="{{ user.uid }}">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.streetAddress }}</td>
          <td>{{ user.zipCode }}</td>
          <td>{{ user.city }}</td>
        </tr>
      }
    </table>
  </mat-card>
</div>
