<mat-card class="search-container">
  <mat-form-field appearance="outline">
    <mat-label>Search Users</mat-label>
    <input
      matInput
      (input)="onSearch($event)"
      placeholder="Search by name, email, or city"
    />
  </mat-form-field>
  <div class="user-count">
    Total Users: <strong> {{ userCount }}</strong>
  </div>
</mat-card>

<div class="card-container">
  <mat-card class="user-table-container">
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Email</td>
          <td>Phone</td>
          <td>Street</td>
          <td>ZibCode</td>
          <td>City</td>
        </tr>
      </thead>
      <tbody>
        @for(user of filteredUsers; track $index) { @if(user.uid !==
        'yBr3oAoV5HOBEHBxmTEcFwmR06H2'){
        <tr routerLink="{{ user.uid }}">
          <td>{{ user.firstName + " " + user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{user.phoneNumber}}</td>
          <td>{{user.streetAddress}}</td>
          <td>{{ user.zipCode }}</td>
          <td>{{ user.city }}</td>
        </tr>
        } }
      </tbody>
    </table>
  </mat-card>
</div>
