<div class="user-profile">
  <!-- User Overview Section -->
  <mat-card appearance="outlined" class="card-header m-32">
    <div class="card-header-actions">
      <button
        mat-icon-button
        [matMenuTriggerFor]="userDetail"
        aria-label="Open user details menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #userDetail="matMenu">
        <button mat-menu-item (click)="editUserDetail()"> <mat-icon class="mr-l6">edit</mat-icon>Edit</button>
        <button mat-menu-item (click)="deleteUser()"> <mat-icon class="mr-l6">delete</mat-icon>Delete</button>
        <!-- <button mat-menu-item>Delete</button> -->
      </mat-menu>
    </div>
    <div class="user-overview">
      <div class="profile-image-wrapper">
        @if(user?.profilePictureUrl) {
        <img
          [src]="user?.profilePictureUrl"
          alt="Profile Picture"
          class="profile-picture"
        />
        } @else {
        <img
          src="assets/img/avatar.png"
          alt="Profile Picture"
          class="profile-picture"
        />
        }
      </div>
      <div class="user-basic-info">
        <h3>{{ user?.firstName }} {{ user?.lastName }}</h3>
        <p>Birthday: {{ getFormattedBirthDate() }}</p>
        <!-- @if(user?.role !== 'user') {
        <p class="user-role">Role: {{ user?.role }}</p>
        } -->
      </div>
    </div>
  </mat-card>
  @if(isGuest && userId !== userIdCheck){
    <app-accounts [userId]="userId"></app-accounts>
    <app-transfers [userId]="userId"></app-transfers>

  }
  <mat-card appearance="outlined" class="m-32">
    <div class="section-header">
      <h4>Login Data</h4>
      <button
        mat-icon-button
        [matMenuTriggerFor]="userContact"
        aria-label="Open contact menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #userContact="matMenu">
        <button mat-menu-item (click)="openEmailDialog()" [disabled]="userId !== userIdCheck" matTooltip="You are not authorized to change the email" [matTooltipDisabled]="userId === userIdCheck">
          <mat-icon class="mr-l6">mail</mat-icon>Change Email
        </button>
        <button mat-menu-item (click)="openPasswordDialog()" [disabled]="userId !== userIdCheck" matTooltip="You are not authorized to change the password" [matTooltipDisabled]="userId === userIdCheck">
          <mat-icon class="mr-l6">password</mat-icon>Change Password
        </button>
      </mat-menu>
    </div>
    <div class="section-content">
      <div class="detail-item">
        <label>Email:</label>
        <span>{{ user?.email }}</span>
      </div>
      <div class="detail-item">
        <label>Password:</label>
        <span>*********</span>
      </div>
    </div>
  </mat-card>



  <!-- Address Section -->
  <mat-card appearance="outlined" class="m-32">
    <div class="section-header">
      <h4>Address</h4>
      <button
        mat-icon-button
        [matMenuTriggerFor]="userAddress"
        aria-label="Open address menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #userAddress="matMenu">
        <button mat-menu-item (click)="editUserAddress()"><mat-icon class="mr-l6">edit</mat-icon>Edit</button>
        <!-- <button mat-menu-item>Delete</button> -->
      </mat-menu>
    </div>
    <div class="section-content">
      <div class="detail-item">
        <label>Street Address:</label>
        <span>{{ user?.streetAddress }}</span>
      </div>
      <div class="detail-item">
        <label>Zip Code:</label>
        <span>{{ user?.zipCode }}</span>
      </div>
      <div class="detail-item">
        <label>City:</label>
        <span>{{ user?.city }}</span>
      </div>
    </div>
  </mat-card>

  <!-- Contact Section -->
  <!-- <mat-card appearance="outlined" class="m-32">
    <div class="section-header">
      <h4>Contact</h4>
      <button
        mat-icon-button
        [matMenuTriggerFor]="userContact"
        aria-label="Open contact menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #userContact="matMenu">
        <button mat-menu-item (click)="editUserContact()"><mat-icon class="mr-l6">edit</mat-icon>Edit</button>
      </mat-menu>
    </div>
    <div class="section-content">
      <div class="detail-item">
        <label>Email:</label>
        <span>{{ user?.email }}</span>
      </div>
    
    </div>
  </mat-card> -->

  <!-- Additional Details Section -->
  <mat-card appearance="outlined" class="m-32">
    <div class="section-header">
      <h4>Details</h4>
      <button
        mat-icon-button
        [matMenuTriggerFor]="userDetailsMenu"
        aria-label="Open details menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #userDetailsMenu="matMenu">
        <button mat-menu-item (click)="editUserDetails()"><mat-icon class="mr-l6">edit</mat-icon>Edit</button>
        <!-- <button mat-menu-item>Delete</button> -->
      </mat-menu>
    </div>
    <div class="section-content">
      <div class="detail-item">
        <label>Phone Number:</label>
        <span>{{ user?.phoneNumber }}</span>
      </div>
      <div class="detail-item">
        <label>Nationality:</label>
        <span>{{ user?.nationality }}</span>
      </div>
      <div class="detail-item">
        <label>Tax ID:</label>
        <span>{{ user?.taxId }}</span>
      </div>
      <div class="detail-item">
        <label>Occupation:</label>
        <span>{{ user?.occupation }}</span>
      </div>
    </div>
  </mat-card>
</div>
