.card-header {
  background-color: aquamarine;
  height: 30vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px;
  margin-bottom: 32px;
  position: relative;

  .user-overview {
    display: flex;
    align-items: center;
    margin-right: auto;

    img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      object-fit: cover;
    }

    .user-basic-info {
      margin-left: 12px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h3 {
        font-size: 2rem;
        margin: 0;
      }

      p {
        font-size: 1rem;
        color: #555;
        margin: 4px 0 0;
      }
    }
  }
}
.card-header-actions,

.address-menu-btn,
.section-header button {
  position: absolute;
  top: 8px;
  right: 8px;
  // cursor: pointer;
}

mat-card {
  padding: 16px;
  margin-bottom: 32px;
  position: relative;

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    h4 {
      margin: 0;
    }
  }

  .section-content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .detail-item {
      display: flex;
      justify-content: space-between;
      margin-right: 12px;
      border-bottom: 1px solid #ddd;

      label {
        font-weight: bold;
        color: #333;
        margin-right: 8px;
      }

      span {
        color: #555;
      }
    }
  }
}

.mat-accordion .mat-expansion-panel{
  margin-bottom: 10px;
}

::ng-deep {
  mat-expansion-panel {
    .mat-expansion-panel-body {
      padding: 0;
    }
  }
}