<mat-card appearance="outlined" class="card-header m-32">
  <div>
    <div class="total-balance">
      <h4>Total Balance: {{ getFormattedCurrency(totalBalance) }}</h4>
    </div>
    <div class="profile-container">
      <div class="profile-image-wrapper">
        <img
          [src]="user?.profilePictureUrl ? user?.profilePictureUrl : 'assets/img/avatar.png'"
          alt="Profile Picture"
          class="profile-picture"
        />
      </div>
      <div class="upload-overlay">
        <label for="file">
          <input
            id="file"
            type="file"
            (change)="onFileSelected($event)"
            accept=".jpg, .jpeg, .png"
            hidden
          />
          <mat-icon>add_a_photo</mat-icon>
        </label>
      </div>
      <div class="profile-info">
        <h3>{{ user?.firstName }} {{ user?.lastName }}</h3>
        <p>{{ user?.email }}</p>
      </div>
    </div>
  </div>
</mat-card>
