.card-header {
  background: linear-gradient(135deg, #4fa3f7, #3d88e6);

  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 32px;
  position: relative;
  border-radius: 16px 16px 0 0;
  color: white;
  padding: 24px;

  .total-balance {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: right;
    position: absolute;
    top: 20px;
    right: 24px;
  }

  .profile-container {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    position: absolute;
    bottom: 24px;
    left: 24px;

    .profile-image-wrapper {
      position: relative;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 3px solid white;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      overflow: hidden;
      
      &:hover {
        transform: scale(1.05);
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
      }
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      /* Upload overlay with camera icon */
    }
    .upload-overlay {
      position: absolute;
      bottom: 0; /* Moves the icon slightly outside the image */
     left: 70px;
      background: #00b4ff;
      width: 36px;  /* Increased size for the icon container */
      height: 36px; /* Increased size for the icon container */
      line-height: 36px;
      text-align: center;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); /* Optional: a subtle shadow effect */
      z-index: 10; /* Ensure it's above the image */

      label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        cursor: pointer;

        input[type="file"] {
          display: none;
        }

        mat-icon {
          color: white;
        }
      }
    }

    .profile-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
      color: white;

      h3 {
        font-size: 2rem;
        font-weight: 600;
        margin: 0;
      }

      p {
        font-size: 1rem;
        margin: 0;
        font-weight: 300;
        padding-bottom: 18px;
      }
    }
  }
}

mat-card-content {
  padding: 18px;
}
@media (max-width: 400px) {
  .card-header {
  margin-bottom: 16px;
  }
}

@media (max-width: 340px) {
  .card-header {
    height: 200px;
    padding: 0px;
  }
}