<mat-drawer-container class="example-container" autosize>
  <mat-drawer
    #drawer
    class="sidenav"
    [mode]="drawerMode"
    (opened)="onDrawerOpened()"
    (closed)="onDrawerClosed()"
    aria-label="Sidebar Navigation"
  >
    <div class="logo-container">
      <mat-icon aria-hidden="true">account_balance</mat-icon>
      <span>MockBank</span>
    </div>
    <ul>
      <li routerLink="/main/dashboard" routerLinkActive="router-link-active">
        <mat-icon aria-hidden="true">dashboard</mat-icon> 
        <span>Dashboard</span>
      </li>
      @if(user?.role === 'user' || 'guest'){
        <li routerLink="user/{{uid}}">
          <mat-icon aria-hidden="true">person</mat-icon>
          <span>Profile</span>
        </li>
      }
      <li routerLink="/main/statistics">
        <mat-icon aria-hidden="true">analytics</mat-icon> 
        <span>Statistics</span>
      </li>
      @if(user?.role === 'admin'){
        <li routerLink="/main/user">
          <mat-icon aria-hidden="true">person_search</mat-icon> 
          <span>Search for User</span>
        </li>
        <li routerLink="/main/new-admin">
          <mat-icon aria-hidden="true">person_add</mat-icon> 
          <span>Create new Admin</span>
        </li>
      }
      @if(isGuest){
        <li routerLink="/main/change-role">
          <mat-icon aria-hidden="true">person_edit</mat-icon> 
          <span>Change Role</span>
        </li>
      }
      <li class="footer-items"> 
        <a href="" aria-label="Help Center">Help Center</a>
        <a href="" aria-label="Contact">Contact</a>
        <a routerLink="privacy-policy" aria-label="Privacy Policy">Datenschutzerklärung</a>
        <a routerLink="imprint" aria-label="Imprint">Impressum</a>
      </li>
      <li class="logout" (click)="logout()" tabindex="0" role="button" aria-label="Logout">
        <mat-icon aria-hidden="true">logout</mat-icon>
        <span>Logout</span>
      </li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Toggle Sidebar"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      @if(!isDrawerOpened){
        <div class="logo-container" style="padding: 0;">
          <mat-icon aria-hidden="true">account_balance</mat-icon>
          <span>MockBank</span>
        </div>
      }
     
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Favorite">
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Share"
        (click)="share()"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
