.example-spacer {
    flex: 1 1 auto;
  }
  
  .example-container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  // .example-sidenav-content {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }
  
  .router-container {
    height: calc(100vh - 58px);
    padding: 24px;
    overflow: scroll;
    scrollbar-width: none; /* Für Firefox */
  }
  
  .router-container::-webkit-scrollbar {
    display: none; /* Für Chrome, Safari und Edge */
  }
  
  
  .sidenav {
    width: 300px;
  }
  
  .logo-container{
    padding: 0 20px;
    height: 56px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  mat-toolbar{
    height: 56px;
  }
  
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    li{
      height: 56px;
      display: flex;
      align-items: center;
      padding-left: 16px;
      >mat-icon{
        display: flex;
        align-items: center;
        margin-right: 10px;
      }
      &:hover{
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  .logout{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  