<mat-dialog-content>
    <form>
      <mat-form-field>
        <mat-label>Aktuelles Passwort</mat-label>
        <input matInput [(ngModel)]="currentPassword" name="currentPassword" type="password" required>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Neues Passwort</mat-label>
        <input matInput [(ngModel)]="newPassword" name="newPassword" type="password" required>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Abbrechen</button>
    <button mat-button color="accent" (click)="changePassword()">Passwort ändern</button>
  </mat-dialog-actions>
  