<h2 mat-dialog-title>Edit User Details</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Nationality:</mat-label>
    <input [(ngModel)]="user.nationality" matInput placeholder="German" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Tax ID:</mat-label>
    <input [(ngModel)]="user.taxId" matInput placeholder="taxId" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Occupation:</mat-label>
    <input
      [(ngModel)]="user.occupation"
      matInput
      placeholder="Frontend Developer"
    />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button (click)="saveNewUser(user)" cdkFocusInitial>Save</button>
</mat-dialog-actions>
