@if(user){ @if(user.role === 'admin') {
<div>
  <!-- admin dashboard: searchfunktion -->
  <!-- charts -->
</div>

} @else if(user.role === 'user' || 'guest') {
<div>
  <app-bank></app-bank>
  <!-- <app-transfers-chart></app-transfers-chart>
<app-user-growth-chart></app-user-growth-chart>
  <app-first-charts></app-first-charts>
  <app-monthly-expenses-chart></app-monthly-expenses-chart> -->
  <app-user-dashboard></app-user-dashboard>

  <app-accounts></app-accounts>

  <app-transfers></app-transfers>
</div>

} @else {<ng-template #loading> <p>Lade Benutzerdaten...</p> </ng-template>} }
