@if(user){ @if(user.role === 'admin') {
<div>
  <h1>Willkommen, {{ user.firstName }}</h1>
  <p>Email: {{ user.email }}</p>
  <p>Telefon: {{ user.phoneNumber }}</p>
  <!-- Weitere Felder hier -->
</div>
} @else if(user.role === 'user') {
<div>
  <mat-card appearance="outlined" class="card-header m-32">
    <!-- <button mat-icon-button class="address-menu-btn" [matMenuTriggerFor]="userDetail" aria-label="open address data for changes" >
        <mat-icon>more_vert</mat-icon>
      </button> -->
    <!-- <mat-menu #userDetail="matMenu">
        <button mat-menu-item (click)="editUserDetail()">Edit</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu> -->
    <!-- <mat-card-content>Simple card</mat-card-content> -->
    <div>
      <div class="total-balance">
        <h4>Total Balance: {{ totalBalance }}€</h4>
      </div>
      <div class="profile-container">
        <div class="profile-image-wrapper">
          @if(user.profilePictureUrl) {
          <img
            [src]="user.profilePictureUrl"
            alt="Profile Picture"
            class="profile-picture"
          />
          } @else {
          <img
            src="assets/img/avatar-7964941_1280.png"
            alt="Profile Picture"
            class="profile-picture"
          />
          }
        </div>
        <div class="profile-actions">
          @if(!user.profilePictureUrl || isImageSelected) {
          <label for="file" class="file-input-label"
            >Choose File
            <input
              id="file"
              type="file"
              (change)="onFileSelected($event)"
              accept=".jpg, .jpeg, .png"
              hidden
            />
          </label>
          } @if(isImageSelected) {
          <button
            (click)="saveProfilePicture()"
            mat-raised-button
            color="primary"
            class="save"
          >
            Save
          </button>
          }
        </div>
      </div>

      <div>
        <h3>{{ user.firstName }} {{ user.lastName }}</h3>
        <p>{{ user.email }}</p>
        <!-- <p>{{ user.email }}</p> -->
        <!-- kundennummer -->
      </div>
    </div>
  </mat-card>
  <div class="align-btn">
    <!-- <button mat-flat-button (click)="openSendMoneyDialog()">Sent money</button>
      <button mat-stroked-button (click)="openMoveMoneyDialog()">Move money to different account</button> -->
    <button mat-raised-button (click)="openNewPocketDialog()">
      Open new Pocket
    </button>
  </div>
  <div class="align-cards-container">
    @for(account of userAccounts; track $index) {
    <mat-card appearance="outlined" class="align-card">
      <button
        mat-icon-button
        class="align-account-menu-btn"
        [matMenuTriggerFor]="account$index"
        aria-label="open address data for changes"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #account$index="matMenu">
        <button mat-menu-item (click)="editAccount(account.accountId)">Edit Account</button>
        <button mat-menu-item (click)="deleteAccount(account.accountId, uid)">Close Account</button>
      </mat-menu>
      <mat-card-content>
        <div class="account-header">
          <!-- @if(account.accountName){ -->
          <h3 class="align-name">{{ account.accountName }}</h3>
          <!-- } -->
          <h3>{{ account.accountId }}</h3>
          <p class="align-balance">Balance: {{ account.balance }}€</p>
        </div>
        <div class="account-actions">
          <button
            mat-icon-button
            (click)="openSendMoneyDialog(account.accountId)"
          >
            <mat-icon>send</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="openMoveMoneyDialog(account.accountId)"
          >
            <mat-icon>swap_horiz</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
    }
  </div>


  <app-transfers></app-transfers>

</div>

} @else {<ng-template #loading> <p>Lade Benutzerdaten...</p> </ng-template>} }
