@if(user){ @if(user.role === 'admin') {
<div>
  <h1>Willkommen, {{ user.firstName }}</h1>
  <p>Email: {{ user.email }}</p>
  <p>Telefon: {{ user.phoneNumber }}</p>
  <!-- Weitere Felder hier -->
</div>
} @else if(user.role === 'user') {
<div>
  <mat-card appearance="outlined" class="card-header m-32">
    <!-- <button mat-icon-button class="address-menu-btn" [matMenuTriggerFor]="userDetail" aria-label="open address data for changes" >
        <mat-icon>more_vert</mat-icon>
      </button> -->
    <!-- <mat-menu #userDetail="matMenu">
        <button mat-menu-item (click)="editUserDetail()">Edit</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu> -->
    <!-- <mat-card-content>Simple card</mat-card-content> -->
    <div>
      <div class="total-balance">
        <h4>Total Balance: {{ totalBalance }}€</h4>
      </div>
      <img src="assets/img/avatar-7964941_1280.png" alt="Customer-Avatar" />
      <div>
        <h3>{{ user.firstName }} {{ user.lastName }}</h3>
        <p>{{ user.email }}</p>
        <!-- <p>{{ user.email }}</p> -->
        <!-- kundennummer -->
      </div>
    </div>
  </mat-card>
  <div class="align-btn">
    <!-- <button mat-flat-button (click)="openSendMoneyDialog()">Sent money</button>
      <button mat-stroked-button (click)="openMoveMoneyDialog()">Move money to different account</button> -->
    <button mat-raised-button (click)="openNewPocketDialog()">
      Open new Pocket
    </button>
  </div>
  <div class="align-card">
    @for(account of userAccounts; track $index) {
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="account-header">
          <!-- @if(account.accountName){ -->
          <h3>{{ account.accountName }}</h3>
          <!-- } -->
          <h3>{{ account.accountId }}</h3>
          <p>{{ account.balance }}€</p>
        </div>
        <div class="account-actions">
          <button mat-icon-button (click)="openSendMoneyDialog()">
            <mat-icon>send</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="openMoveMoneyDialog(account.accountId)"
          >
            <mat-icon>swap_horiz</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
    }
  </div>

  <div class="transfers">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Transfers</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table>
          <thead>
            <tr>
              <th>From</th>
              <th>To</th>
              <th>Amount</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            @for(transfer of transfers; track $index) {
            <tr>
              <td>{{ transfer.description }}</td>
              <td>
                {{
                  transfer.senderAccountName
                    ? transfer.senderAccountName
                    : transfer.senderAccountId
                }}
              </td>
              <td>
                {{
                  transfer.receiverAccountName
                    ? transfer.receiverAccountName
                    : transfer.receiverAccountId
                }}
              </td>
              <td
                [ngClass]="{
                  negative: transfer.type === 'sent',
                  positive: transfer.type === 'received'
                }"
              >
                {{ transfer.amount }}€
              </td>
              <td>{{ getFormattedDate(transfer.createdAt) }}</td>
              <td>
                {{
                  transfer.type === "sent"
                    ? "sent"
                    : transfer.type === "received"
                    ? "received"
                    : "internal"
                }}
              </td>
            </tr>
            }
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>

} @else {<ng-template #loading> <p>Lade Benutzerdaten...</p> </ng-template>} }
