<div class="card-container">
  <mat-card>
    <table>
      <tr>
        <td>firstName</td>
        <td>lastName</td>
        <td>birthDate</td>
        <td>streetAddress.</td>
        <td>zipCode</td>
        <td>city</td>
      </tr>
      @for(user of (user$ | async ); track $index){
        
      <tr routerLink="{{ user.id }}">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.birthDate }}</td>
        <td>{{ user.streetAddress }}</td>
        <td>{{ user.zipCode }}</td>
        <td>{{ user.city }}</td>
      </tr>
      }
    </table>
    <!-- <mat-card-content>Simple card</mat-card-content> -->
  </mat-card>
</div>

<button
  (click)="openDialog()"
  class="add-user-btn"
  mat-fab
  color="primary"
  matTooltip="add user"
  matTooltipPosition="above"
  aria-label="Example icon button with a home icon"
>
  <mat-icon>add</mat-icon>
</button>
