<h2 mat-dialog-title>Edit Account Name</h2>

<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Account Name</mat-label>
    <input
      matInput
      [(ngModel)]="account.accountName"
      placeholder="{{ account.accountName }}"
    />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button class="cancel-btn" (click)="closeDialog()">
    <mat-icon>cancel</mat-icon>
    Cancel
  </button>
  <button mat-raised-button class="save-btn" (click)="saveChanges()">
    <mat-icon>save</mat-icon>
    Save
  </button>
</mat-dialog-actions>
