@import "../../styles/dialog-style.scss";


mat-dialog-actions {
  margin-bottom: 16px;
}
.save-btn {
  background-color: #1976d2;
  color: #fff;

  &:hover {
    background-color: #145ea8;
  }
}

.cancel-btn {
  background-color: #f5f5f5;
  color: #333;

  &:hover {
    background-color: #e0e0e0;
  }
}
