div{
    width: 100%;
    max-height: 520px;
    min-height: 150px;
 display: flex;
 justify-content: center;
 align-items: center;   
}

// Dark Mode Styles
:host-context(.dark-theme) {
    div {
        background-color: #1e1e1e;
        color: rgba(255, 255, 255, 0.87);
    }
}