<div class="align-btn">
    <button mat-raised-button (click)="openNewPocketDialog()">
      Open new Pocket
    </button>
  </div>
  <div class="accounts">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Accounts</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="account-list">
          @for(account of accounts; track $index) {
          <mat-card class="account-card">
            <div class="account-content">
              <!-- Icon Section -->
              <div class="account-icon">
                <mat-icon>account_balance_wallet</mat-icon>
              </div>
              <!-- Description -->
              <div class="account-description">
                <span>{{ account.accountName }}</span>
                <p class="account-id">{{ account.accountId }}</p>
              </div>
              <!-- Balance -->
              <div class="account-balance">
                {{ getFormattedCurrency(account.balance) }}
              </div>
              <!-- Actions -->
              <div class="account-actions">
                <button mat-icon-button (click)="openSendMoneyDialog(account.accountId)">
                  <mat-icon>send</mat-icon>
                </button>
                <button mat-icon-button (click)="openMoveMoneyDialog(account.accountId)">
                  <mat-icon>swap_horiz</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="accountMenu$index">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #accountMenu$index="matMenu">
                  <button mat-menu-item (click)="openEditAccountDialog(account.accountId)">
                    Edit Account
                  </button>
                  <button mat-menu-item (click)="openDeleteAccountDialog(account.accountId, uid)">
                    Close Account
                  </button>
                </mat-menu>
              </div>
            </div>
          </mat-card>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  